body {

  font-family: Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
}

.buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

ul {
  list-style: none;
}

li {
  text-align: center;
  font-weight: bolder;
  color: blue;
}

button {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  color: azure;
  font-weight: bolder;
  background-color: black;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;

}

input {
  text-align: center;
  width: 400px;
  padding: 5px;
  margin: 10px;
}